.view-cms {
  width: 990px;
  margin: 0 auto; }
  .view-cms .head {
    font-size: 20px;
    margin: 50px 0;
    text-align: center; }
  .view-cms .cont {
    padding-bottom: 50px; }
    .view-cms .cont .vote_add_wrap {
      padding: 20px;
      border: 1px solid #DDEBFD; }
    .view-cms .cont .indexImage .dd {
      position: relative;
      width: 150px;
      height: 120px;
      vertical-align: top;
      overflow: hidden; }
    .view-cms .cont .indexImage .update_wrap {
      width: 150px;
      height: 120px;
      border: 2px solid #DDEBFD; }
      .view-cms .cont .indexImage .update_wrap.have_img:before, .view-cms .cont .indexImage .update_wrap.have_img:after {
        display: none; }
      .view-cms .cont .indexImage .update_wrap:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 40px;
        background-color: #DDEBFD;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .view-cms .cont .indexImage .update_wrap:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 1px;
        background-color: #DDEBFD;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .view-cms .cont .indexImage .update_wrap:hover .update_img {
        display: block; }
    .view-cms .cont .indexImage .vote_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .view-cms .cont .indexImage .img_wrap {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .view-cms .cont .indexImage .img_wrap img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%; }
      .view-cms .cont .indexImage .img_wrap.show {
        display: block; }
    .view-cms .cont .indexImage .update_img {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
      background: rgba(0, 0, 0, 0.6); }
    .view-cms .cont .vote_info {
      display: inline-block;
      width: 320px;
      height: 320px;
      vertical-align: top; }
    .view-cms .cont .add {
      width: 100px;
      margin: 0 auto; }
    .view-cms .cont .search_wrap {
      margin: 30px 0; }
    .view-cms .cont td {
      height: 60px;
      overflow: hidden; }
      .view-cms .cont td img {
        padding-top: 5px;
        width: 60px; }
      .view-cms .cont td .update {
        margin-right: 10px;
        cursor: pointer; }
      .view-cms .cont td .delete {
        margin-right: 10px;
        cursor: pointer; }

.view-pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99; }
  .view-pop.show {
    display: block; }
  .view-pop .update_cont_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #F4F9FF; }
    .view-pop .update_cont_wrap .indexImage .dd {
      position: relative;
      width: 150px;
      height: 120px;
      vertical-align: top;
      overflow: hidden; }
    .view-pop .update_cont_wrap .indexImage .update_wrap {
      width: 150px;
      height: 120px;
      border: 2px solid #DDEBFD; }
      .view-pop .update_cont_wrap .indexImage .update_wrap.have_img:before, .view-pop .update_cont_wrap .indexImage .update_wrap.have_img:after {
        display: none; }
      .view-pop .update_cont_wrap .indexImage .update_wrap:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 40px;
        background-color: #DDEBFD;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .view-pop .update_cont_wrap .indexImage .update_wrap:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 1px;
        background-color: #DDEBFD;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .view-pop .update_cont_wrap .indexImage .update_wrap:hover .update_img {
        display: block; }
    .view-pop .update_cont_wrap .indexImage .vote_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .view-pop .update_cont_wrap .indexImage .img_wrap {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .view-pop .update_cont_wrap .indexImage .img_wrap img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%; }
      .view-pop .update_cont_wrap .indexImage .img_wrap.show {
        display: block; }
    .view-pop .update_cont_wrap .indexImage .update_img {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
      background: rgba(0, 0, 0, 0.6); }
    .view-pop .update_cont_wrap .vote_info {
      display: inline-block;
      width: 320px;
      height: 320px;
      vertical-align: top; }
    .view-pop .update_cont_wrap .btn {
      text-align: center; }
      .view-pop .update_cont_wrap .btn .update {
        margin-right: 50px; }

/*# sourceMappingURL=../tmp/vote-cms.css.map */
